:root {
  --color-date: rgb(91, 91, 91);
  --color-title: rgb(0, 0, 0);
}
/*ROOT*/


header {
  background-image: url(../img/wall.png);
}

h1 {
  font-family: "Edu Tas Beginner", sans-serif;
  font-size: 4.5rem;
  font-weight: bold;
  text-shadow: 1px 0 black, -1px 0 black; /*Aggiunge ombra ai lati per simulare "più grassetto*/
}
/*HEADER SECTION*/


.date {
  font-family: "Sometype Mono", "monospace";
  color: var(--color-date);
  margin-top: 0.45rem;
}

.title {
  position: relative;
  top: -5px;
  font-size: 1.45rem;
  font-weight: 500;
  font-style: italic;
}

.card {
  position: relative;
  display: inline-block;
}

.pin {
  position: absolute;
  top: -3%;
  left: 45%;
}

.card-img-top {
  width: 11rem;
  height: auto;
  object-fit: cover;
}
/*CARD SECTION*/


main {
  background-image: url("../img/cork.png");
  position: relative;
  padding-bottom: 2rem;
}

#overlay {
  position: fixed; 
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);  
  cursor: pointer; 
}

#btn-overlay{
  position: absolute;
  left: 45.75%;
  top:0;
  padding: 0.15rem 0.5rem;
  border-radius: 7px;
  background-color:rgb(67, 167, 167)
}

#img-overlay{
  width: 35.5%;
  position: absolute;
  left: 32.5%;
  top: 17.5%;;
  opacity: 0.85;
}
/*OVERLAY SECTION*/



