header{
    background-image: url(../img/wall.png);
}

h1{
    font-family:  'Edu Tas Beginner', sans-serif;
    font-size: 4.5rem;
    font-weight: bold;
    text-shadow: 1px 0 black, -1px 0 black; /*Aggiunge ombra ai lati per simulare "più grassetto*/
    
    
}
/*HEADER SECTION*/




